swig
box2d-py
torch
matplotlib
numpy
gymnasium[all]
gymnasium[accept-rom-license]
imageio
pandas
torchvision
matplotlib
ruamel.yaml
moviepy
einops
protobuf
mujoco
dm_control
scipy
atari-py
crafter
tensorboard
dill
pycapnp
